{% extends 'ticket/base.html' %}
{% block title %}Ticket List{% endblock title %}
{% block body %}
    <div class="card">
        <div class="card-header card-header-secondary">
            <h4 class="card-title">Tickets</h4>
            <a href="{% url 'create_ticket' %}">Add more tickets</a>
        </div>
        <ul>
            {% for ticket in tickets %}
                <li class="card-body">{{ ticket }} | <a href="{% url 'update_ticket' ticket.id %}">Edit</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}